<!DOCTYPE html>

<html>
<style type="text/css">
    p{
    text-align:center;
    }
</style>

<head profile="http://www.w3.org/2005/10/profile">
<meta charset="utf-8">
<link rel="icon" type="image/png" href="http://example.com/myicon.png">
<title>index</title>
</head>

<body>
<p>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=def706d31baa63561863e79df9c20bca&redirect_uri=http://127.0.0.1:5000/oauth&response_type=code&response_type=code&scope=friends">
<img src="http://kabbi159.github.io/img/pichat.png" alt="Pichat (KaKao Login)" align="center">
</a>
</p>
</body>

</html>